 .App {
  text-align: center;
  
}

.main{
    margin-top: 15vw;
  }

  .btn{
    margin-top: 10px;
    margin-left: 45%;
  }
  
@media screen and (max-width: 600px) {
  .main{
    margin-top: 30vw;
  }
}